<h1>{{ build_id }}</h1>
{% for task in tasks %}
  <a href="/probo/build/task/{{ build_id }}/{{ task.tid }}">{{ task.plugin }} - {{ task.event_name }}</a> - {{ task.duration }} - Date: {{ task.date }}<hr />
{% endfor %}
