<style>
  h1, .breadcrumb {
    display: none;
  }
  h2 {
    font-size: 18pt;
    padding: 0px;
    color: #800000;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
    font-family: "Helvetica Neue", Helvetica, Sans-Serif;
  }
</style>
<h2>{{ pr_name }} - {{ owner }}/{{ repo }} :: {{ plugin }} - {{ event_name }}</h2>
<pre style="background-color: #000000; font-family: menlo, courier, monospace; font-size: 12pt; padding: 20px; color: #FFFFFF;">{{ body }}</pre>
