{{ attach_library('probo/main-styles') }}
<h1 class="probo-header">{{ pull_request_name }}</h1><h2 class="headline">{{ plugin }} - {{ event_name }}</h2>
<pre style="background-color: #000000; font-family: menlo, courier, monospace; font-size: 12pt; padding: 20px; color: #FFFFFF;">{{ body }}</pre>
