{{ attach_library('probo/main-styles') }}
<h1 class="probo-header">Active Probo Builds</h1>
{% for build in builds %}
<div class="build">
  <h2 class="headline"><a href="/probo/build/{{ build.bid }}">{{ build.pr_name }} - {{ build.author_name }}</a></h2>
  <p class="repository">Repository: <a href="#">{{ build.owner }}/{{ build.repo }}</a></p>
  <p class="build-url">Build URL: <a href="http://{{ build.bid }}.probo.itcon-dev.com" target="_new">http://{{ build.bid }}.probo.itcon-dev.com</a></p>
</div>
<hr />
{% endfor %}
