<div id="probo-build-index">
  {% for build in builds %}
    {% set build_details = '/probo/build/' ~  build.bid %}
    {% set probo_build = build.bid ~ '.' ~ probo_builds_domain %}

    <div class="build">
      {% if title_links_to == 'Details Of Build Process' %}
        {% set title_url = build_details %}
      {% endif %}
      {% if title_links_to == 'Pull Request' %}
        {% set title_url = pull_request %}
      {% endif %}
      {% if title_links_to == 'Probo Build' %}
        {% set title_url = probo_build %}
      {% endif %}
      <{{ title_tag }} class="{{ title_text_class }}">{{ title_label }}<a class="{{ title_anchor_class }}" href="{{ title_url }}">{{ build.pull_request_name }} - {{ build.author_name }}</a></{{ title_tag }}>
        
      {% if repository == 1 %}
        {% if build.service == 'bitbucket' %}
          {% set repository_link = 'https://bitbucket.org/' ~ build.owner ~ '/' ~ build.repository %}
        {% endif %}
        {% if build.service == 'github' %}
          {% set repository_link = 'https://github.com/' ~ build.owner ~ '/' ~ build.repository %}
        {% endif %}
        <{{ repository_tag }} class="{{ repository_class }}">{{ repository_label }}<a class={{ repository_anchor }} href="{{ repository_link }}">{{ build.owner }}/{{ build.repository }}</a></{{ repository_tag }}>
      {% endif %}

      <{{ probo_tag }} class="{{ probo_class }}">{{ probo_label }}<a class="{{ probo_anchor }}" href="http://{{ build.bid }}.{{ probo_builds_domain }}" target="_new">http://{{ build.bid }}.{{ probo_builds_domain }}</a></{{ probo_tag }}>
      
      {% if pull_request == 1 %}
        <{{ pull_request_tag }} class="{{ pull_request_class }}">{{ pull_request_label }}<a class="{{ pull_request_anchor }}" href="{{ build.pull_request_url }}" target="_new">{{ build.pull_request_url }}</a></{{ pull_request_tag }}>
      {% endif %}
    </div>
  {% endfor %}
</div>
