<h2 class="probo-header"><a class="task-details-headline" href="/probo/build/{{ build_id }}">{{ pull_request_name }}</a></h2>
<h3 class="probo-plugin-event">{{ plugin }} - {{ event_name }}</h3>
<pre class="probo-task-details">{{ body }}</pre>
